// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyDW_OXHIYwfe7rYSke3c0S2R-kwpbZ_CQA",
  authDomain: "fotoslopes-54480.firebaseapp.com",
  projectId: "fotoslopes-54480",
  storageBucket: "fotoslopes-54480.appspot.com",
  messagingSenderId: "262035064532",
  appId: "1:262035064532:web:c32278e8d48be73db79d41"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);